<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <h1 class="text-muted font-weight-bold">Routing and Navigation</h1>
        <nav>
       <a routerLink="/employee"  class="btn btn-outline-info">Employees</a>
       <a routerLink="/employee_detail" class="btn btn-outline-info ml-3">Employees Detail</a>
        </nav>
        <router-outlet></router-outlet>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
